*{
    margin: 0px;
}
body{
    background-color: #eeeeee;
}
.PizzaIcon{
    float: left;
    height: 60px;
    width: 60px;
    margin: 10px;
}
.Header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}
.Title{
    float: left;
    font-size: 40px;
    margin:10px auto; /*水平居中*/

}
.HeaderRight
{
    float: right;
    height: inherit;
    padding-top: 30px;
    display: flex;
}
.HeaderRight *{
    margin-right: 10px;
    margin-left: 10px;
}
.AdminIcon{
    float: left;

}
.AdminName{
    float: left;
    font-size: 20px;
}
.DragdownIcon{
    float: left;
}