.lobby-content{
    padding: 40px;
}
.ingredient-content{
    padding: 40px;
}
#factory-content,#item-title{
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
}
.info-label{
    font-size: large;
}
#tb_import{
    margin-top: 20px;
}
#import_new{
    font-size: larger;
}
#title{
    font-size: xx-large;
    font-weight: bold;
    margin: 20px;
}
#import{
    font-size: larger;
}