<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MenuItemDao">

    <resultMap type="MenuItem" id="menuItem" >
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="prize" column="prize"/>
        <result property="introduce" column="introduce"/>
        <result property="imgPath" column="imgPath"/>
        <result property="onSale" column="onSale"/>
    </resultMap>

    <select id="findAllOnSale" resultMap="menuItem">
        SELECT *
        FROM menuItem
    </select>

    <select id="queryAllOnSaleByPriceAndOrderFromLow" resultMap="menuItem">
        SELECT *
        FROM menuItem
        WHERE prize >= #{minPrice} AND  prize &lt;= #{maxPrice}
        ORDER BY prize ASC
    </select>

    <select id="queryAllOnSaleByPriceAndOrderFromHigh" resultMap="menuItem">
        SELECT *
        FROM menuItem
        WHERE prize >= #{minPrice} AND  prize &lt;= #{maxPrice}
        ORDER BY prize DESC
    </select>

    <select id="findById" resultMap="menuItem" parameterType="int">
        SELECT *
        FROM menuItem
        WHERE id = #{id}
    </select>


    <select id="queryAllOnSaleByInfo" resultMap="menuItem" parameterType="String">
        SELECT *
        FROM menuItem
        WHERE `name` LIKE CONCAT('%',#{info},'%')
    </select>
</mapper>