<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ActivityDao">
    <select id="getActivities" resultType="Activity">

        select * from activity

    </select>
    <select id="newStockActivity">
        INSERT INTO activity(affair, date, detail,type ,isSolved) VALUES (#{affair}, #{date}, #{detail},type ,0)
    </select>
    <select id="newOrderActivity">
        INSERT INTO activity(affair, date, detail,orderId ,isSolved) VALUES (#{affair}, #{date}, #{detail}, #{orderId},0)
    </select>
    <select id="solveOrderActivity" parameterType="Integer">
        UPDATE activity SET isSolved = 1 WHERE orderId = #{orderId}
    </select>
    <select id="solveStoreActivity" parameterType="String">
        UPDATE activity SET isSolved = 1 WHERE type = #{type}
    </select>
    <select  id="getNewOrder" resultType="Integer">
        SELECT b.id FROM pizzaOrder as b
        LEFT JOIN activity as a
        ON a.orderId = b.id
        WHERE a.id is NULL
    </select>


</mapper>