<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MenuItemDao">

    <select id="findMenuItemByName" resultType="MenuItem" parameterType="String">
        SELECT *
        FROM menuItem
        WHERE name LIKE CONCAT('%',#{name},'%')
    </select>
    <select id="deleteMenuItemById" parameterType="Integer">
        UPDATE menuItem set onSale = 0 where id = #{id}
    </select>
    <select id="findMenuItemByID" resultType="MenuItem" parameterType="Integer">
        SELECT *
        FROM menuItem
        WHERE id = #{id}
    </select>

    <select id="findIngredientByMenuItem" resultType="MenuItem_Ingredient" parameterType="Integer">
        SELECT *
        FROM menuItem_ingredient
        WHERE menuItemId = #{id}
    </select>


    <select id="count" resultType="Integer">
        SELECT COUNT(*) FROM menuItem
    </select>

    <select id="createMenuItem" parameterType="Integer">
        INSERT INTO menuItem(id) VALUES (#{id})
    </select>

    <select id="deleteItemIngredients" parameterType="Integer">
        delete from menuItem_ingredient where menuItemId = #{id}
    </select>
    <select id="insertItemIngredients" >
        INSERT INTO menuItem_ingredient VALUES (#{id},#{ingredientType},#{ingredientA})
    </select>

    <select id="updateMenuItem">
        UPDATE menuItem set name = #{name}, prize = #{prize}, introduce = #{introduce}, imgPath = #{imgPath} WHERE id = #{id}
    </select>

</mapper>